<h1>Editing workday</h1>

<%= render 'form' %>

<%= link_to 'My workdays', workdays_path(:date_in_gui => @workday.working_date.strftime("%Y-%m-01")) %> |
<%= link_to 'Delete', workday_path, method: :delete %>
